{# empty Twig template #}
{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} À propos {% endblock %}

{% block contenu %}

    <div align="center">

        <h1> <br>À propos</br>
            Qui sommes nous ?</h1>
        <h2>
            <br>Nous sommes quatres étudiants de l'EPSI d'Arras</br>
            <br> EPSI est une école d'ingénierie informatique</br>
            <br> Ce site a été créé pour notre workshop </br>
        </h2>

    </div>
{% endblock %}
