{# empty Twig template #}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-esquiv="X-UA6Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {% block title %} EcoConso - {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    {% block style %} {% endblock %}
</head>
<body class="bg-light">
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.php?page=accueil">ControleTaConso(provisoire)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=apropos">A propos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=mentions">Mentions Légales</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="index.php?page=contact">Contact</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="index.php?page=profil">Afficher mon profil</a>
                        {%if session.login is defined %}
                            <a class="dropdown-item" href="index.php?page=modif-profil">Modifer mon profil</a>

                            <a href="index.php?page=deconnexion"  class="dropdown-item">Se déconnecter</a>
                        {% else %}
                            <a href="index.php?page=connexion"  class="dropdown-item">Se connecter</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?page=bd">Base de Données</a>
                </li>
                {%if session.login is defined %}
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?page=ajoutLangages">Ajouter un langage</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"> {{session.login}} </a>
                    </li>
                {% endif %}

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="row" >
        <div class="mx-auto text-center">
            {% block contenu %}

            {% endblock %}
        </div>
    </div>

    {% block MonBlock %}
    {% endblock %}

{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery3.2.1.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>

