{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Se connecter {% endblock %}


{% block MonBlock %}
    {#<br><br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-10">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email">
            </div>
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-10">
                <label for="Password">Mot de passe</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Mot de passe">
            </div>
            <div class="form-group col-md-1"></div>
        </div>
        <small><a href="index.php?page=inscription">Inscription</a> </small>
        <button type="submit" id="btConnexion" name="btConnexion" class="btn btn-primary">Connexion</button>
    </form>
#}
    {% if form.valide == false %}
        <h3>Login ou mot de passe incorrect</h3>
    {% endif %}

    <body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-2 d-none d-lg-block "> </div>
                            <div class="col-lg-8">
                                <div class="col-lg-2 d-none d-lg-block "> </div>
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Connectez vous</h1>
                                    </div>
                                    <form class="user" action="index.php?page=connexion" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="Email" name="Email" aria-describedby="emailHelp" placeholder="Entrez votre adresse email...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="Password" name="Password" placeholder="Mot de passe">
                                        </div>

                                        <button class="btn btn-primary btn-user btn-block" type="submit" name="btConnecter" id="btConnecter">
                                            Se connecter
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="index.php?page=Inscription">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


{% endblock %}