{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} S'inscrire {% endblock %}



{% block MonBlock %}

    {% if form.valide == true %}
        <div class="alert alert-danger" role="alert">
            {{ form.message }}
        </div>

    {% else %}




    <body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div style="padding-right: 4%">
                 <img src="images/planete.jpg"> </div> </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Crée un compte</h1>
                        </div>
                        <form class="form-signin" action="index.php?page=inscription" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="Email" name="Email" placeholder="Votre email">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" id="Password" name="Password" placeholder="Votre mot de passe">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" id="Password2" name="Password2" placeholder="Confirmez votre mot de passe">
                                </div>
                            </div>
                            <div class="form-group">
                                <select id="Role" name="Role" class="col-md-12 form-control form-control-user">
                                    <option selected value="1">Utilisateur</option>
                                    <option value="2">Administrateur</option>
                                </select>
                            </div>
                                <button class="btn btn-primary btn-user btn-block" type="submit" name="btInscrire" id="btInscrire">
                                    S'inscrire
                                </button>


                        </form>
                        <hr>

                        <div class="text-center">
                            <a class="small" href="index.php?page=connexion">Vous avez déjà un compte, connectez-vous !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    {% endif %}




{#
    {% if form.valide is defined %}
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">Inscription réussie</h1>
            <h1 class="h3 mb-3 font-weight-normal">Voici votre identifiant : {{form.email}}</h1>
            #}
{#{% if form.role == 1 %}
                <h1 class="h3 mb-3 font-weight-normal">Vous êtes un développeur</h1>
            {% else %}
                <h1 class="h3 mb-3 font-weight-normal">Vous êtes administrateur du site</h1>
            {% endif %}#}{#

            <h1 class="h3 mb-3 font-weight-normal">Un email de validation vous a été envoyé</h1>
            <h1 class="h3 mb-3 font-weight-normal">Veuillez valider votre email dans les 24h qui suivent ou votre compte sera supprimé</h1>
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">Echec de l'inscription</h1>
            <h1 class="h3 mb-3 font-weight-normal">Erreur : {{form.message}}</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=inscription">Retourner sur la page d'inscription</a></h1>
        {% endif %}

    {% else %}
        <br><br>
        <form>
            <div class="form-row">
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-10">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Email">
                </div>
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-10">
                    <label for="Password">Mot de passe</label>
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Mot de passe">
                </div>
                <div class="form-group col-md-1"></div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-10">
                    <label for="Password2">Confirmer le mot de passe</label>
                    <input type="password" class="form-control" id="Password2" name="Password2" placeholder="Confirmer le mot de passe">
                </div>
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-1"></div>
                <div class="form-group col-md-10">
                    <label for="Role">Role</label>
                    <select id="Role" class="form-control">
                        <option selected>Utilisateur</option>
                        <option>Administrateur</option>
                    </select>
                </div>
                <div class="form-group col-md-1"></div>
            </div>
            <small><a href="index.php?page=connexion">Connexion</a> </small>
            <button type="submit" id="btInscription" name="btInscription" class="btn btn-primary">Inscription</button>
        </form>



    {% endif %}
#}
{% endblock %}