{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} S'inscrire {% endblock %}



{% block contenu %}


    {% if form.valide is defined %}
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">Inscription réussie</h1>
            <h1 class="h3 mb-3 font-weight-normal">Voici votre identifiant : {{form.email}}</h1>
            {#{% if form.role == 1 %}
                <h1 class="h3 mb-3 font-weight-normal">Vous êtes un développeur</h1>
            {% else %}
                <h1 class="h3 mb-3 font-weight-normal">Vous êtes administrateur du site</h1>
            {% endif %}#}
            <h1 class="h3 mb-3 font-weight-normal">Un email de validation vous a été envoyé</h1>
            <h1 class="h3 mb-3 font-weight-normal">Veuillez valider votre email dans les 24h qui suivent ou votre compte sera supprimé</h1>
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">Echec de l'inscription</h1>
            <h1 class="h3 mb-3 font-weight-normal">Erreur : {{form.message}}</h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=inscription">Retourner sur la page d'inscription</a></h1>
        {% endif %}

    {% else %}


        <form class="form-signin" method="post">
            <!methode="post" c pour que les données ne se mettent pas dans l'url
            action="index.php?page=inscription" signifie que les données du formulaire vont être envoyées sur la page « index.php » et précisément sur le contrôleur « inscription ».
            name = permet de donner un nom au composant, ce qui va permettre de récupérer les données par la suite. Nous avons besoin de donner un nom à la zone de saisie de l'email, des deux mots de passe, le rôle et enfin au bouton.->
            <div align ="center" style="padding-left:0% ; padding-right:0% ; padding-top: 5%">
                <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email">
                <input type="password" class="form-control" id="inputMdr" name="inputPassword" placeholder="Mot de passe">
                <input type="password" class="form-control" id="inputMdp" name="inputPassword2" placeholder="Mot de passe">
                <input type="nom" class="form-control" id="inputNom" name="inputNom" placeholder="Nom">
                <input type="prenom" class="form-control" id="inputPrenom" name=" inputPrenom" placeholder="Prenom">
                {#<select class="form-control" name='role' style="align-center">    <!attention il faut aussi 1name pr le role->
                    <option value="1">Developpeur</option>
                    <option value="2">Administrateur</option>
                </select>#}
                <button type="submit" name="btInscrire" class="btn btn-lg btn-primary btn-block">s'inscrire</button> <!-- ne pas oublier le name pr chaque element c tres important submit c pr pouvoir envoyer ensuite donc ne pas oublier nn plus-->
            </div>
        </form>


    {% endif %}
{% endblock %}