{% extends "base.html.twig" %}

{% block contenu %}


    <div>
        <h1> Mentions légales
        </h1>
    </div>
    <div style='padding-top:3%'>
        <h4>Nous adressons nos remerciements à toutes celles et ceux qui nous ont aidé pour l’élaboration de ce site web en partageant leur savoir faire et leurs expériences.</h4>
    </div>
    <div style='padding-top:2%'>
        <u>
            <h4> Propriétaires et éditeurs du site : </h4>
        </u>
        <h4> Maxence Maziere </h4>
        <h4> Fabien Bayon </h4>
        <h4> Noémie Lecherf </h4>
        <h4> Bastien Bovin </h4>
        <h4> Etudiants à l'EPSI d'Arras </h4>
    </div>
    <div style='padding-top: 2%'>
        <u>
            <h4> Réalisation et hébergement : </h4>
        </u>

        <h4> EPSI ARRAS </h4>
        <h4> 23-25 Rue du Dépot </h4>
        <h4>62000 ARRAS</h4>
    </div>


{% endblock %}
